<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Encrypt
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Encrypt</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-grid>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-text><h5>This app encrypts through a method called steganography, choose an image where you want to hide the text and click encrypt below the image once you select it.</h5></ion-text>

      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <ion-button (click)="getImage()">Choose Image</ion-button>
      </ion-col>
    </ion-row>

    <ion-row class="ion-align-items-center">
      <ion-col class="ion-text-center">
        <!-- More Pinterest floating gallery style -->
        <div class="images">
            <img src="{{imageResponse}}" alt="" srcset="">
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>
